{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["Android >= 4.2", "ios >= 8"]
        },
        "useBuiltIns": "usage"
      }
    ]
  ]
}
