html,
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body {
  background-color: #f8f8f8;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

a:hover,
a:link {
  text-decoration: none
}

img {
  border: none
}

ol,
ul {
  list-style: none
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}